img {
    width:100;
    height:150;
    padding:10px;
}
.holder-div {
    width: 1300px;
    height: 200px;
    padding: 5%;
    border: 5px solid blue;
    margin: 20px;
}

.player-action {
    font-weight: bold;
}